<ul *ngIf="user$ | async as user">
  <li>id: {{ user.id }}</li>
  <li>Name: {{ user.name }}</li>
  <li>User Name: {{ user.username }}</li>
  <li>Email: {{ user.email }}</li>
  <li>Address: 
    <ul>
      <li>Street: {{ user.address.street }}</li>
      <li>Suite: {{ user.address.suite }}</li>
      <li>City: {{ user.address.city }}</li>
      <li>Zip Code: {{ user.address.zipcode }}</li>
      <li>Geo:
        <ul>
          <li>Lat: {{ user.address.geo.lat }}</li>
          <li>Lng: {{ user.address.geo.lng }}</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>phone: {{ user.phone }}</li>
  <li>Website: {{ user.website }}</li>
  <li>Company:
    <ul>
      <li>Name: {{user.company.name}}</li>
      <li>Catch Phrase: {{user.company.catchPhrase}}</li>
      <li>Bs: {{user.company.bs}}</li>
    </ul>
  </li>
</ul>