
<ng-container *ngIf="user$ | async as user">
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Street</th>
      <th>Suite</th>
      <th>City</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Phone</th>
      <th>Website</th>
    </tr>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address.street }}</td>
      <td>{{ user.address.suite }}</td>
      <td>{{ user.address.city }}</td>
      <td>{{ user.address.zipcode }}</td>
      <td>{{ user.address.geo.lat }}</td>
      <td>{{ user.address.geo.lng }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.website }}</td>
    </tr>
  </table>

  <div class="button">
    <button 
      mat-raised-button 
      color="primary" 
      (click)="onSelect(user)"> 
    Last Posts </button>
  </div>
</ng-container>
